<footer class="site-info" role="contentinfo">
  <div class="footer-content">
    <a href="index.html">
      <svg class="razorfish-logo" title="Razorfish" viewBox="0 0 146 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xlink:href="#site-logo"></use>
      </svg>
    </a>
    <div class="site-details">
      <ul class="site-social-links" data-visible="false">
        <li class="share-icon-container">
          <a href="https://www.linkedin.com/company/sapientrazorfish" class="icon-linkedin share-icon" target="_blank"><span>LinkedIn</span></a>
        </li>
        <li class="share-icon-container">
          <a href="https://twitter.com/sr_" class="icon-twitter share-icon" target="_blank"><span>Twitter</span></a>
        </li>
        <li class="share-icon-container">
          <a href="https://www.facebook.com/SapientRazorfish/" class="icon-facebook share-icon" target="_blank"><span>Facebook</span></a>
        </li>
      </ul>
      <ul class="site-legal">
        <li class="copyright">©2016 Razorfish All rights reserved</li>
        <li class="legal-link">
                <a href="general/terms" class="link muted">Terms</a>
        </li>
        <li class="legal-link">
                <a href="general/privacy" class="link muted">Privacy</a>
        </li>
        <li class="legal-link">
                <a href="general/sitemap" class="link muted">Site Map</a>
        </li>
        <li class="legal-link">
                <a href="general/accessibility" class="link muted">Accessibility</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<input type="hidden" id="refreshed" value="no"/>
