<div class="masthead-scrollbar-mask"></div>
<div class="site-navigation" id="site-navigation" aria-hidden="true">
  <nav class="site-navigation--nav" role="navigation">
    <ul class="site-navigation--primary-links">
      <li class="site-navigation--link-container">
        <%= link_to 'Work', work_path, class: "link--underline"%>
      </li>
      

      <li class="site-navigation--link-container">
        <%= link_to 'Insights', insight_path, class: "link--underline"%>
      </li>
      

      <li class="site-navigation--link-container">
        <%= link_to 'Solutions', solution_path, class: "link--underline"%>
      </li>
      

      <li class="site-navigation--link-container">
        <%= link_to 'Company', company_path, class: "link--underline"%>
      </li>
    </ul>
    <ul class="site-navigation--secondary-links">
      <li class="site-navigation--link-container">
        <a class="link--underline" href="news">News</a>
      </li>
      
      <li class="site-navigation--link-container">
        <a class="link--underline" href="careers">Careers</a>
      </li>
    
      <li class="site-navigation--link-container">
        <a class="link--underline" href="contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>