<div class="masthead-scrollbar-mask"></div>
    <div class="site-navigation" id="site-navigation" aria-hidden="true">

        <nav class="site-navigation--nav" role="navigation">

            <ul class="site-navigation--primary-links">

                <li class="site-navigation--link-container">
                    <a class="link--underline" href="/case-study">Work</a>
                </li>

                <li class="site-navigation--link-container">
                    <a class="link--underline" href="/insight">Insights</a>
                </li>

                <li class="site-navigation--link-container">
                    <a class="link--underline" href="/solution">Solutions</a>
                </li>

                <li class="site-navigation--link-container">
                    <a class="link--underline" href="/company">Company</a>
                </li>

            </ul>

            <ul class="site-navigation--secondary-links">

                <li class="site-navigation--link-container">
                    <a class="link--underline" href="/news">News</a>
                </li>

                <li class="site-navigation--link-container">
                    <a class="link--underline" href="/careers">Careers</a>
                </li>

                <li class="site-navigation--link-container">
                    <a class="link--underline" href="/contact">Contact</a>
                </li>

            </ul>

        </nav>

    </div>
    <div class="wrapper" data-loadmodule="PageTransitions">
        <main id="main-content" class="main-content" tabindex="-1">

            <!-- Displays Page Title -->

            <div class="module page-tagline" data-visible="false">
                <div class="module-background"></div>
                <div class="module-content">
                    <header>
                        <h1 class="headline">Our Company</h1>
                    </header>
                </div>
            </div>

            <div class="module hero-story hero-media dark-hover light-green has-image" data-visible="false">
                <div class="module-background" style="background: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="module-background-image">
                        <defs>
                            <filter id="image-grading--green">
                                <feColorMatrix type="matrix" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" result="gray"></feColorMatrix>
                                <feComponentTransfer color-interpolation-filters="sRGB">
                                    <feFuncR type="table" tableValues="0.1411764705882353 0.25882352941176473"></feFuncR>
                                    <feFuncG type="table" tableValues="0.1607843137254902 0.34509803921568627"></feFuncG>
                                    <feFuncB type="table" tableValues="0.14901960784313725 0.3607843137254902"></feFuncB>
                                    <feFuncA type="table" tableValues="1 1"></feFuncA>
                                </feComponentTransfer>
                            </filter>
                        </defs>
                        <image filter="url('#image-grading--green')" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="/assets/company_image.jpg"></image
                    </svg>
                    <div class="dark-overlay"></div>
                </div>
                <div class="module-content">
                    <div class="hero-content">
                        <h1 class="headline">Purpose-built for a digital world.</h1>
                    </div>
                </div>
            </div>

            <!-- Includes Body Copy: Flexible module here -->

            <div class="module body-copy-flexible white-bg" data-visible="false">
                <div class="module-content">
                    <div class="article-content">
                        <header class="module-header">
                            <h2 class="headline">About Razorfish</h2>
                        </header>
                        <p>A pioneer&nbsp;in the digital age, Razorfish helps our clients navigate the unknown, drive change and create value through a unique blend of technology, creativity and innovation at our core. Our world-class capabilities in strategic consulting, experience design, brand building, technology platforms, data services, retail/commerce and media services enable transformational work that help our clients acquire and sustain leadership positions.&nbsp;
                            <br />
                            <br />
                            <strong>Born digital more than 20 years ago</strong></p>

                        <p>Motivated and inspired by what’s next, we remain dedicated to staying ahead of the trends as our clients adjust to new technologies, new marketing techniques and a changing marketplace and leading them into a future in which their business will&nbsp;thrive.</p>

                        <p>Razorfish’s team of 4,500+ experts span 35 regions, including Australia, Canada, China, France, Germany, Hong Kong, India, Italy, Singapore, the United Kingdom and the United States.</p>

                        <p>Chosen for our unmatched ability think and act differently across our well-defined approach to customer-obsessed transformation, we’ve distilled our mission across six solution areas:<a href="/solution/journey-driven-consulting"> Journey-Driven Consulting</a>, <a href="/solution/active-marketing">Active Marketing</a>, <a href="/solution/experience-innovation">Experience Innovation</a>, <a href="/solution/ubiquitous-commerce">Ubiquitous Commerce</a>, <a href="/solution/engagement-based-loyalty">Engagement-Based Loyalty</a> and <a href="/solution/intelligent-platforms">Intelligent&nbsp;Platforms</a>&nbsp;.
                            <br />
                            <br />
                            <strong>A leader among global digital marketing agencies</strong></p>

                        <p>For the fourth consecutive year, Gartner has named <a href="/articles/gartner-digital-marketing-magic-quadrant">Razorfish a Leader in the Magic Quadrant for Global Digital Marketing Agencies</a>. In 2016, Razorfish was proud to be positioned highest and furthest for its ability to execute and completeness of vision in the Leaders’ quadrant.</p>

                        <figure><img alt="null" src="/assets/gartnermq2016_600px.jpg" />
                            <figcaption>*Gartner, Inc.</figcaption>
                        </figure>

                        <p><strong>From digital extensions to digital core</strong></p>

                        <p>Razorfish is a key element of Publicis.Sapient, the first purpose built platform designed to help clients address the digital transformation needs created by accelerating technology advances, the changing competitive landscape and the rise of the empowered consumer.</p>

                        <p>Publicis.Sapient was forged to address this challenge by fusing two paths to problem solving - Digital Solutions &amp; Business/Technology Consulting. The platform is unique in combining the leading digital pioneers and thinkers of the past 20 years from Razorfish, SapientNitro, &amp; DigitasLBi with the experienced business analysts, proven technology developers and deep industry experts of Sapient Consulting.</p>

                        <p><a href="http://publicis.sapient.com/en-us.html" target="_blank">Click here</a>&nbsp;to learn more about the Publicis.Sapient Platform and about how we are helping clients address today&apos;s digital transformation imperative.</p>

                        <p>&nbsp;</p>

                        <p>*&nbsp;This graphic was published by Gartner, Inc. as part of a larger research document and should be evaluated in the context of the entire document. Gartner does not endorse any vendor, product or service depicted in its research publications, and does not advise technology users to select only those vendors with the highest ratings or other designation. Gartner research publications consist of the opinions of Gartner&apos;s research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.</p>
                    </div>
                </div>
            </div>

            <!-- Discpline List -->
            <section class="module disciplines" data-visible="false" itemscope itemtype="http://schema.org/Service">
                <div class="module simple-header">
                    <div class="module-background"></div>
                    <div class="module-content">
                        <header>
                            <h1 class="headline" itemprop="serviceType">Our Services</h1>
                        </header>
                    </div>
                </div>

                <div class="discipline-list" itemprop="hasOfferCatalog" itemscope itemtype="http://schema.org/OfferCatalog">
                    <a href="/discipline/client-engagement" class="discipline-list-item dark-hover arrow-hover" data-visible>
                        <div class="discipline-list-item-content">
                            <div class="dark-overlay"></div>
                            <div class="discipline-list-item-content-copy" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                                <div class="headline" itemprop="name">Client Engagement</div>
                                <div class="subhead">Solving the most complex business challenges by developing solutions that are custom-built around the needs of the brand.</div>
                                <div class="arrow icon-arrow-right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="/discipline/consulting" class="discipline-list-item dark-hover arrow-hover" data-visible>
                        <div class="discipline-list-item-content">
                            <div class="dark-overlay"></div>
                            <div class="discipline-list-item-content-copy" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                                <div class="headline" itemprop="name">Consulting</div>
                                <div class="subhead">From data and insights to customer engagement and business transformation.</div>
                                <div class="arrow icon-arrow-right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="/discipline/creative" class="discipline-list-item dark-hover arrow-hover" data-visible>
                        <div class="discipline-list-item-content">
                            <div class="dark-overlay"></div>
                            <div class="discipline-list-item-content-copy" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                                <div class="headline" itemprop="name">Creative</div>
                                <div class="subhead">A new breed of dynamic ideas that create an emotional connection between a brand and its consumers.</div>
                                <div class="arrow icon-arrow-right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="/discipline/data-sciences" class="discipline-list-item dark-hover arrow-hover" data-visible>
                        <div class="discipline-list-item-content">
                            <div class="dark-overlay"></div>
                            <div class="discipline-list-item-content-copy" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                                <div class="headline" itemprop="name">Data Science</div>
                                <div class="subhead">Anticipating customer needs to create timely, relevant and seamless brand experiences across all touch points.</div>
                                <div class="arrow icon-arrow-right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="/discipline/delivery" class="discipline-list-item dark-hover arrow-hover" data-visible>
                        <div class="discipline-list-item-content">
                            <div class="dark-overlay"></div>
                            <div class="discipline-list-item-content-copy" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                                <div class="headline" itemprop="name">Delivery</div>
                                <div class="subhead">Implementing solutions with quality, agility and speed that help our clients compete in the world of digital business.</div>
                                <div class="arrow icon-arrow-right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="/discipline/media" class="discipline-list-item dark-hover arrow-hover" data-visible>
                        <div class="discipline-list-item-content">
                            <div class="dark-overlay"></div>
                            <div class="discipline-list-item-content-copy" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                                <div class="headline" itemprop="name">Media</div>
                                <div class="subhead">Ensuring messages reach the right audience, in the right place, at the right time with techniques that drive measurable business impact.</div>
                                <div class="arrow icon-arrow-right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="/discipline/social" class="discipline-list-item dark-hover arrow-hover" data-visible>
                        <div class="discipline-list-item-content">
                            <div class="dark-overlay"></div>
                            <div class="discipline-list-item-content-copy" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                                <div class="headline" itemprop="name">Social & Content Marketing</div>
                                <div class="subhead">Authentic relationships that go beyond marketing and advertising silos.</div>
                                <div class="arrow icon-arrow-right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="/discipline/strategy" class="discipline-list-item dark-hover arrow-hover" data-visible>
                        <div class="discipline-list-item-content">
                            <div class="dark-overlay"></div>
                            <div class="discipline-list-item-content-copy" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                                <div class="headline" itemprop="name">Strategy</div>
                                <div class="subhead">Accelerating growth and transforming businesses for success in the digital world.</div>
                                <div class="arrow icon-arrow-right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="/discipline/technology" class="discipline-list-item dark-hover arrow-hover" data-visible>
                        <div class="discipline-list-item-content">
                            <div class="dark-overlay"></div>
                            <div class="discipline-list-item-content-copy" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                                <div class="headline" itemprop="name">Technology</div>
                                <div class="subhead">Transformation through twenty years of software innovation and IP.</div>
                                <div class="arrow icon-arrow-right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="/discipline/user-experience" class="discipline-list-item dark-hover arrow-hover" data-visible>
                        <div class="discipline-list-item-content">
                            <div class="dark-overlay"></div>
                            <div class="discipline-list-item-content-copy" itemprop="itemListElement" itemscope itemtype="http://schema.org/OfferCatalog">
                                <div class="headline" itemprop="name">User Experience</div>
                                <div class="subhead">Creating value in every brand interaction requires a deep understanding of the customer.</div>
                                <div class="arrow icon-arrow-right"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
            <!-- Discpline List -->

            <div class="module simple-header dark" data-visible="false">
                <div class="module-background"></div>
                <div class="module-content">
                    <header>
                        <h1 class="headline">Our Leadership</h1>
                    </header>
                </div>
            </div>
            <section class="module people-list" data-visible="false">
                <div class="module-background"></div>
                <div class="module-content full-width">
                    <ul class="people office-leadership">
                        <li class="person build-on-hover dark-hover" itemprop="employee" itemscope itemtype="https://schema.org/Person" data-visible="false">
                            <div class="person-content">
                                <div class="person-photo bg-zoom" data-lazyload="background-image:url('/assets/deb-boyda.png');"></div>
                                <a href="/profile/deb-boyda" class="person-link">
                                    <div class="person-details">
                                        <span class="person-name headline animated-1" itemprop="name">
                                            Deb Boyda
                                        </span>
                                        <span class="person-role animated-2" itemprop="jobTitle">
                                            President, Central Region
                                        </span>
                                        <span class="person-office animated-3" itemprop="worksFor" itemscope itemtype="https://schema.org/Organization" itemref="organization">
                                            Chicago
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="person build-on-hover dark-hover" itemprop="employee" itemscope itemtype="https://schema.org/Person" data-visible="false">
                            <div class="person-content">
                                <div class="person-photo bg-zoom" data-lazyload="background-image:url('/assets/daniel-bonner.png');"></div>
                                <a href="/profile/daniel-bonner" class="person-link">
                                    <div class="person-details">
                                        <span class="person-name headline animated-1" itemprop="name">
                                            Daniel Bonner
                                        </span>
                                        <span class="person-role animated-2" itemprop="jobTitle">
                                            Chief Creative Officer
                                        </span>
                                        <span class="person-office animated-3" itemprop="worksFor" itemscope itemtype="https://schema.org/Organization" itemref="organization">
                                            London
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="person build-on-hover dark-hover" itemprop="employee" itemscope itemtype="https://schema.org/Person" data-visible="false">
                            <div class="person-content">
                                <div class="person-photo bg-zoom" data-lazyload="background-image:url('/assets/jenn-friese.png');"></div>
                                <a href="/profile/jen-friese" class="person-link">
                                    <div class="person-details">
                                        <span class="person-name headline animated-1" itemprop="name">
                                            Jen Friese
                                        </span>
                                        <span class="person-role animated-2" itemprop="jobTitle">
                                            President, West Region
                                        </span>
                                        <span class="person-office animated-3" itemprop="worksFor" itemscope itemtype="https://schema.org/Organization" itemref="organization">
                                            Portland
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="person build-on-hover dark-hover" itemprop="employee" itemscope itemtype="https://schema.org/Person" data-visible="false">
                            <div class="person-content">
                                <div class="person-photo bg-zoom" data-lazyload="background-image:url('/assets/ray-valez.png');"></div>
                                <a href="/profile/ray-velez" class="person-link">
                                    <div class="person-details">
                                        <span class="person-name headline animated-1" itemprop="name">
                                            Ray Velez
                                        </span>
                                        <span class="person-role animated-2" itemprop="jobTitle">
                                            Chief Technology Officer
                                        </span>
                                        <span class="person-office animated-3" itemprop="worksFor" itemscope itemtype="https://schema.org/Organization" itemref="organization">
                                            San Francisco
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="person build-on-hover dark-hover" itemprop="employee" itemscope itemtype="https://schema.org/Person" data-visible="false">
                            <div class="person-content">
                                <div class="person-photo bg-zoom" data-lazyload="background-image:url('/assets/shamih-fadli.png');"></div>
                                <a href="/profile/samih-fadli" class="person-link">
                                    <div class="person-details">
                                        <span class="person-name headline animated-1" itemprop="name">
                                            Samih Fadli
                                        </span>
                                        <span class="person-role animated-2" itemprop="jobTitle">
                                            Chief Intelligence Officer
                                        </span>
                                        <span class="person-office animated-3" itemprop="worksFor" itemscope itemtype="https://schema.org/Organization" itemref="organization">
                                            Seattle
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="person build-on-hover dark-hover" itemprop="employee" itemscope itemtype="https://schema.org/Person" data-visible="false">
                            <div class="person-content">
                                <div class="person-photo bg-zoom" data-lazyload="background-image:url('/assets/brittany-slattery.jpg');"></div>
                                <a href="/profile/brittany-slattery" class="person-link">
                                    <div class="person-details">
                                        <span class="person-name headline animated-1" itemprop="name">
                                            Brittany Slattery
                                        </span>
                                        <span class="person-role animated-2" itemprop="jobTitle">
                                            VP, Marketing and Communications
                                        </span>
                                        <span class="person-office animated-3" itemprop="worksFor" itemscope itemtype="https://schema.org/Organization" itemref="organization">
                                            New York
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="module recent-news" data-visible="false">
                <div class="module simple-header">
                    <div class="module-background"></div>
                    <div class="module-content">
                        <header>
                            <h2 class="headline">Recent Content</h2>
                        </header>
                    </div>
                </div>
                <div class="feed">

                    <a href="/press-release/2017/sapientrazorfish-wins-7-cannes-lions-across-radio-entertainment-digital-craft-and-design-at-2017-international-festival-of-creativity" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                        <div class="feed-item-content light-all bottom-align">
                            <div class="feed-item-content-copy">
                                <div class="headline">
                                    SapientRazorfish Wins 7 Cannes Lions
                                    <div class="arrow icon-arrow-right"></div>
                                </div>
                                <div class="eyebrow">
                                    PRESS RELEASE
                                </div>
                            </div>
                            <div class="feed-item-content-background">
                                <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/cannes2017_feedimage.jpg)"></div>
                            </div>
                        </div>
                    </a>

                    <a href="/press-release/2017/sapientrazorfish-releases-new-research-for-retailers-on-transforming-omni-channel-strategies" class="feed-item dark-hover arrow-hover " tabindex="0" data-visible>
                        <div class="feed-item-content ">
                            <div class="feed-item-content-copy">
                                <div class="headline">
                                    SapientRazorfish Releases New Research for Retailers
                                    <div class="arrow icon-arrow-right"></div>
                                </div>
                                <div class="eyebrow">
                                    PRESS RELEASE
                                </div>
                            </div>
                            <div class="feed-item-content-background">
                            </div>
                        </div>
                    </a>

                    <a href="/press-release/2017/sapientrazorfish-unveils-future-of-cognitive-creativity-at-2017-cannes-lions-international-festival-of-creativity-1" class="feed-item dark-hover arrow-hover " tabindex="0" data-visible>
                        <div class="feed-item-content ">
                            <div class="feed-item-content-copy">
                                <div class="headline">
                                    SapientRazorfish Unveils Future of Cognitive Creativity
                                    <div class="arrow icon-arrow-right"></div>
                                </div>
                                <div class="eyebrow">
                                    PRESS RELEASE
                                </div>
                            </div>
                            <div class="feed-item-content-background">
                            </div>
                        </div>
                    </a>

                </div>
            </section>

            <section class="module contact-promo" data-visible="false">
                <div class="module-background">
                    <svg xmlns="http://www.w3.org/2000/svg" class="module-background-image">
                        <defs>
                            <filter id="image-grading--green">
                                <feColorMatrix type="matrix" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" result="gray"></feColorMatrix>
                                <feComponentTransfer color-interpolation-filters="sRGB">
                                    <feFuncR type="table" tableValues="0.1411764705882353 0.25882352941176473"></feFuncR>
                                    <feFuncG type="table" tableValues="0.1607843137254902 0.34509803921568627"></feFuncG>
                                    <feFuncB type="table" tableValues="0.14901960784313725 0.3607843137254902"></feFuncB>
                                    <feFuncA type="table" tableValues="1 1"></feFuncA>
                                </feComponentTransfer>
                            </filter>
                        </defs>
                        <image filter="url('#image-grading--green')" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="/binaries/content/gallery/corpsitehippo/other/global/location_module-footer1_notint.png"></image>
                    </svg>
                </div>
                <div class="module-content">
                    <div class="promo-content">
                        <h2 class="eyebrow">Locations</h2>
                        <div class="headline">34 Offices. 5 Continents.</div>
                        <div class="headline">1 Vision.</div>
                        <div class="subhead"><a href="/contact" class="link">Get in Touch.</a></div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <footer class="site-info" role="contentinfo">
        <div class="footer-content">
            <a href="/">
                <svg class="razorfish-logo" title="Razorfish" viewBox="0 0 146 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="#site-logo"></use>
                </svg>
            </a>
            <div class="site-details">

                <ul class="site-social-links" data-visible="false">
                    <li class="share-icon-container">
                        <a href="https://www.linkedin.com/company/sapientrazorfish" class="icon-linkedin share-icon" target="_blank"><span>LinkedIn</span></a>
                    </li>
                    <li class="share-icon-container">
                        <a href="https://twitter.com/sr_" class="icon-twitter share-icon" target="_blank"><span>Twitter</span></a>
                    </li>
                    <li class="share-icon-container">
                        <a href="https://www.facebook.com/SapientRazorfish/" class="icon-facebook share-icon" target="_blank"><span>Facebook</span></a>
                    </li>
                </ul>

                <ul class="site-legal">
                    <li class="copyright">
                        ©2016 Razorfish All rights reserved </li>
                    <li class="legal-link">
                        <a href="/general/terms" class="link muted">Terms</a>
                    </li>
                    <li class="legal-link">
                        <a href="/general/privacy" class="link muted">Privacy</a>
                    </li>
                    <li class="legal-link">
                        <a href="/general/sitemap" class="link muted">Site Map</a>
                    </li>
                    <li class="legal-link">
                        <a href="/general/accessibility" class="link muted">Accessibility</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
   
   <input type="hidden" id="refreshed" value="no" />
    <script src="/assets/app.js"></script>
<script src="/assets/shared.js"></script>