<%= render :partial => 'shared/menu' %>
<div class="wrapper" data-loadmodule="PageTransitions">
  <main id="main-content" class="main-content" tabindex="-1">
    <div class="module hero-list home-tiles" data-loadmodule="HeroList" data-visible="false">
      <div class="hero-list-container">
        <nav class="hero-list--nav">
          <ul class="hero-list--nav--items">
            <li class="hero-list--nav--item">
              <a class="hero-list--nav--link" href="index.html#hero0">
                <span class="hero-list--nav--link--mask">
                  <span class="hero-list--nav--link--text">SapientRazorfish</span>
                </span>
              </a>
            </li>
            <li class="hero-list--nav--item">
              <a class="hero-list--nav--link" href="index.html#hero1">
                <span class="hero-list--nav--link--mask">
                  <span class="hero-list--nav--link--text">The Six Elements of Business Transformation</span>
                </span>
              </a>
            </li>
            <li class="hero-list--nav--item">
              <a class="hero-list--nav--link" href="index.html#hero2">
                <span class="hero-list--nav--link--mask">
                  <span class="hero-list--nav--link--text">A Perfect Blend for Tequila Patrón</span>
                </span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="module page-tagline opening list-tile">
          <div class="module-content">
            <h1 class="headline">ITBEEZONE BUSINESS SOLUTIONS <a href="solution" class="link">RUBY ON RAILS COMPANY.</a></h1>
          </div>
        </div>
        <div class="hero-story list-tile light-all has-image" id="hero0">
          <div class="module-background"style="background-image:url(/assets/razorfish_sr_homepagehero_v2_1920x1080.jpg);">
          </div>
          <a href="http://sapientrazorfish.com" class="featured-content-link dark-hover arrow-hover" target="_blank" >
            <div class="dark-overlay"></div>
            <div class="module-content">
              <div class="hero-content">
                <h2 class="headline isFirst">SapientRazorfish</h2>
                <div class="subhead isThird">Reimagining what it means to help our clients thrive in the connected world.</div>
                <div class="arrow arrow-right"></div>
              </div>
            </div>
          </a>
        </div>
        <div class="hero-story list-tile light-all has-image" id="hero1">
          <div class="module-background" data-lazyload="background-image:url(/assets/journey-driven-consulting.jpg);"></div>
          <a href="solution" class="featured-content-link dark-hover arrow-hover"  >
            <div class="dark-overlay"></div>
            <div class="module-content">
              <div class="hero-content">
                <h2 class="headline isSecond">The Six Elements of Business Transformation</h2>
                <div class="subhead isThird">In an age of relentless disruption, it helps to understand a few key things. At Razorfish, we’ve distilled our mission into six solutions that drive everything we do.</div>
                <div class="eyebrow isFirst">RAZORFISH SOLUTIONS</div>
                <div class="arrow arrow-right"></div>
              </div>
            </div>
          </a>
        </div>

        <div class="hero-story list-tile light-all has-image" id="hero2">
          <div class="module-background" data-lazyload="background-image:url(/assets/patron_hero.jpg);"></div>
            <a href="https://www.razorfish.com/case-study/2016/patron" class="featured-content-link dark-hover arrow-hover"  >
              <div class="dark-overlay"></div>
              <div class="module-content">
                <div class="hero-content">
                  <h2 class="headline isSecond">A Perfect Blend for Tequila Patrón</h2>
                  <div class="eyebrow isFirst">Case Study</div>
                  <div class="arrow arrow-right"></div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="feed module curated-feed" data-loadmodule="Feed" data-visible>
        <div class="feed-list-container">
          <a href="press-release/2017/publicis.sapient-launches-new-enterprise-business-transformation-offering" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
            <div class="feed-item-content light-all top-align">
              <div class="feed-item-content-copy">
                <div class="headline">SapientRazorfish Launches
                  <div class="arrow icon-arrow-right"></div>
                </div>
                <div class="eyebrow">Press Release</div>
              </div>
              <div class="feed-item-content-background">
                <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/sapientrazorfishpr_feed.jpg)"></div>
              </div>
            </div>
          </a>

          <a href="press-release/2016/2016-adobe-digital-marketing-partner-of-the-year" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
            <div class="feed-item-content light-green bottom-align">
              <div class="feed-item-content-copy">
                <div class="headline">
                  2016 Adobe Digital Marketing Partner of the Year
                  <div class="arrow icon-arrow-right"></div>
                </div>
                <div class="eyebrow">
                  Press Release
                </div>
              </div>
              <div class="feed-item-content-background">
                <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/feedpromo.jpg)"></div>
              </div>
            </div>
          </a>

          <a href="press-release/2016/11112016-a-hat-trick-of-excellence-for-razorfish-hong-kong" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
            <div class="feed-item-content light-all bottom-align">
              <div class="feed-item-content-copy">
                <div class="headline">
                  A Hat Trick of Excellence for Razorfish Hong Kong
                  <div class="arrow icon-arrow-right"></div>
                </div>
                <div class="eyebrow">
                  November 11, 2016
                </div>
              </div>
              <div class="feed-item-content-background">
                <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/marketingexcellenceawards_feed_d.jpg)"></div>
              </div>
            </div>
          </a>

          <a href="press-release/2016/12052016-publicis.sapient-brands-named-best-places-to-work-for-lgbt-equality" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
            <div class="feed-item-content dark-all bottom-align">
              <div class="feed-item-content-copy">
                <div class="headline">
                  Publicis.Sapient Brands Named Best Places to Work
                  <div class="arrow icon-arrow-right"></div>
                </div>
                <div class="eyebrow">
                        December 5, 2016
                </div>
              </div>
              <div class="feed-item-content-background">
                <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/hrc-feedimage-razorfish.jpg)"></div>
              </div>
            </div>
          </a>

          <a href="https://www.razorfish.com/news/2016/10112016-publicis-groupe-agency-team-wins-usaa-account" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
            <div class="feed-item-content light-all bottom-align">
              <div class="feed-item-content-copy">
                <div class="headline">
                  Publicis Groupe Agency Team Wins USAA Account
                  <div class="arrow icon-arrow-right"></div>
                </div>
                <div class="eyebrow">
                  In The News
                </div>
              </div>
              <div class="feed-item-content-background">
                <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/usaa_feed_c.jpg)"></div>
              </div>
            </div>
          </a>

          <a href="https://www.razorfish.com/case-study/2016/spotify" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
            <div class="feed-item-content light-all top-align">
              <div class="feed-item-content-copy">
                <div class="headline">
                    Music Defines Us. Spotify Singles Proved It.
                    <div class="arrow icon-arrow-right"></div>
                </div>
                <div class="eyebrow">
                        Spotify
                </div>
              </div>
              <div class="feed-item-content-background">
                <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/spotify_singles_feed.jpg)"></div>
              </div>
            </div>
          </a>

          <a href="https://www.razorfish.com/news/2016/04132016-agencies-grow-intellectual-property-assets-with-tech" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
            <div class="feed-item-content light-all bottom-align">
              <div class="feed-item-content-copy">
                <div class="headline">
                  Agencies Grow Intellectual Property Assets With Tech
                  <div class="arrow icon-arrow-right"></div>
                </div>
                <div class="eyebrow">
                  In the News
                </div>
              </div>
              <div class="feed-item-content-background">
                <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/razorshop_feed_b.jpg)"></div>
              </div>
            </div>
          </a>

          <a href="press-release/2016/06272016-razorfish-announces-cosmos-data-intelligence-platform" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
            <div class="feed-item-content light-all bottom-align">
              <div class="feed-item-content-copy">
                <div class="headline">
                  Razorfish Announces COSMOS™ Data Intelligence Platform
                  <div class="arrow icon-arrow-right"></div>
                </div>
                <div class="eyebrow">
                  In the News
                </div>
              </div>
              <div class="feed-item-content-background">
                 <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/razorfish_announces_cosmos_data_intelligence_platform_feed.jpg)"></div>
              </div>
            </div>
          </a>

          <a href="articles/2016/reinventing-your-business-model" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
            <div class="feed-item-content light-all bottom-align">
              <div class="feed-item-content-copy">
                <div class="headline">
                    Reinventing Your Business Model
                    <div class="arrow icon-arrow-right"></div>
                </div>
                <div class="eyebrow">
                        Journey Driven Consulting
                </div>
              </div>
              <div class="feed-item-content-background">
                <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/reinventing-your-business-model-feed-image.jpg)"></div>
              </div>
            </div>
          </a>
          <a href="https://www.razorfish.com/case-study/2016/he-for-she" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
              <div class="feed-item-content light-all bottom-align">
                  <div class="feed-item-content-copy">
                      <div class="headline">
                          Taking Action for Gender Equality
                          <div class="arrow icon-arrow-right"></div>
                      </div>
                      <div class="eyebrow">
                              HeForShe
                      </div>
                  </div>
                  <div class="feed-item-content-background">
                          <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/heforshe_feed_image.jpg)"></div>
                  </div>
              </div>
          </a>


          <a href="https://www.razorfish.com/news/2016/10242016-four-future-proof-ways-to-disrupt-your-brand" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
            <div class="feed-item-content light-all bottom-align">
              <div class="feed-item-content-copy">
                <div class="headline">
                  Four Future-Proof Ways to Disrupt Your Brand
                  <div class="arrow icon-arrow-right"></div>
                </div>
                <div class="eyebrow">
                  In the News
                </div>
              </div>
              <div class="feed-item-content-background">
                <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/future_proof_feed.jpg)"></div>
              </div>
            </div>
          </a>


          <a href="articles/2016/cracking-the-creative-code" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
            <div class="feed-item-content light-all bottom-align">
              <div class="feed-item-content-copy">
                <div class="headline">
                  Cracking the Creative Code
                  <div class="arrow icon-arrow-right"></div>
                </div>
                <div class="eyebrow">
                  Experience Innovation
                </div>
              </div>
                <div class="feed-item-content-background">
                  <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/cracking-the-creative-code-feed-image.jpg)"></div>
                </div>
            </div>
          </a>

          <a href="https://www.razorfish.com/news/2016/10182016-its-time-for-the-grocery-industry-to-forge-its-mobile-digital-blueprint" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
            <div class="feed-item-content light-all top-align">
              <div class="feed-item-content-copy">
                <div class="headline">
                  It’s Time for Grocery to Forge Its Mobile Blueprint
                  <div class="arrow icon-arrow-right"></div>
                </div>
                <div class="eyebrow">
                  In the News
                </div>
              </div>
              <div class="feed-item-content-background">
                <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/grocerymobile_feed.jpg)"></div>
              </div>
            </div>
          </a>

          <a href="https://www.razorfish.com/news/2016/10182016-food-giant-j.m.-smucker-consolidates-its-digital-marketing-business-with-razorfish" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
            <div class="feed-item-content light-all top-align">
              <div class="feed-item-content-copy">
                <div class="headline">
                  The J.M. Smucker Company Selects Razorfish
                  <div class="arrow icon-arrow-right"></div>
                </div>
                <div class="eyebrow">
                  In The News
                </div>
              </div>
              <div class="feed-item-content-background">
                <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/smuckers_feed.jpg)"></div>
              </div>
            </div>
          </a>

          <a href="https://www.razorfish.com/news/2016/07292016-when-machines-get-smarter-so-do-cmos" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
            <div class="feed-item-content light-all top-align">
              <div class="feed-item-content-copy">
                <div class="headline">
                  When Machines Get Smarter, So Do CMOs
                  <div class="arrow icon-arrow-right"></div>
                </div>
                <div class="eyebrow">
                  In the News
                </div>
              </div>
              <div class="feed-item-content-background">
                <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/smart-machines-in-marketing-feed-image.jpg)"></div>
              </div>
            </div>
          </a> 
        </div>
      </div>
      <section class="module contact-promo" data-visible="false">
        <div class="module-background">
          <svg xmlns="http://www.w3.org/2000/svg" class="module-background-image">
            <defs>
              <filter id="image-grading--green">
                <feColorMatrix type="matrix" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" result="gray"></feColorMatrix>
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.1411764705882353 0.25882352941176473"></feFuncR>
                    <feFuncG type="table" tableValues="0.1607843137254902 0.34509803921568627"></feFuncG>
                    <feFuncB type="table" tableValues="0.14901960784313725 0.3607843137254902"></feFuncB>
                    <feFuncA type="table" tableValues="1 1"></feFuncA>
                </feComponentTransfer>
              </filter>
            </defs>
            <image filter="url('#image-grading--green')" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="/assets/location_module-footer1_notint.png"></image>
          </svg>
        </div>
        <div class="module-content">
          <div class="promo-content">
            <h2 class="eyebrow">Locations</h2>
            <div class="headline">34 Offices. 5 Continents.</div>
            <div class="headline">1 Vision.</div>
            <div class="subhead"><a href="contact" class="link">Get in Touch.</a></div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
<%= render :partial =>'shared/footer' %>
<script src="/assets/app.js"></script>
<script src="/assets/shared.js"></script>