<%= render :partial => 'shared/menu' %>
  <div class="wrapper" data-loadmodule="PageTransitions">
    <main id="main-content" class="main-content" tabindex="-1">
      <div class="module page-tagline" data-visible="false">
        <div class="module-background"></div>
          <div class="module-content">
            <header>
                <h1 class="headline">Our Insights</h1>
            </header>
          </div>
        </div>
        <div class="module hero-story light-green has-image has-link" data-visible="false">
          <div class="module-background" style="background-image:url(/assets/connectedproduct_ogimage.jpg);">
        </div>
        <a href="/articles/2016/taking-a-connected-product-to-market" class="featured-content-link dark-hover arrow-hover">
          <div class="dark-overlay"></div>
          <div class="module-content">
            <div class="hero-content">
              <h1 class="headline isSecond">Taking a Connected Product to Market</h1>
              <div class="eyebrow isFirst">Journey-Driven Consulting</div>
              <div class="arrow arrow-right"></div>
            </div>
          </div>
        </a>
      </div>

      <div class="feed module landing-feed" data-loadmodule="Feed">
        <div class="module simple-header" data-visible>
          <div class="module-background"></div>
          <div class="module-content">
            <header>
              <h1 class="headline">Latest Entries</h1>
            </header>
          </div>
        </div>

          <div class="module-content">
            <div class="feed-list-container" id="feed-list-container" role="region" aria-live="assertive">
                <a href="/articles/2017/banking-for-the-visually-impaired" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                  <div class="feed-item-content light-all bottom-align">
                    <div class="feed-item-content-copy">
                      <div class="headline">
                        Banking for the Visually Impaired
                        <div class="arrow icon-arrow-right"></div>
                      </div>
                      <div class="eyebrow">
                        Experience Innovation
                      </div>
                    </div>
                    <div class="feed-item-content-background">
                      <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/feedimage.jpg)"></div>
                    </div>
                  </div>
                </a>

                <a href="#" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                  <div class="feed-item-content light-all bottom-align">
                    <div class="feed-item-content-copy">
                      <div class="headline">
                        How to Retain the Digital Customer
                        <div class="arrow icon-arrow-right"></div>
                      </div>
                      <div class="eyebrow">
                        The Future of Digital Commerce
                      </div>
                    </div>
                    <div class="feed-item-content-background">
                        <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/howtoretainthedigitalcustomer_feedimage.jpg)"></div>
                    </div>
                  </div>
                </a>

                <a href="/articles/2017/b2b-in-the-digital-age" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                  <div class="feed-item-content light-all bottom-align">
                    <div class="feed-item-content-copy">
                      <div class="headline">
                        B2B in the Digital Age
                        <div class="arrow icon-arrow-right"></div>
                      </div>
                      <div class="eyebrow">
                        The Future of B2B Commerce
                      </div>
                    </div>
                    <div class="feed-item-content-background">
                      <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/feedimage.jpg)"></div>
                    </div>
                  </div>
                </a>

                  <a href="/articles/sxsw-2017-insights" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                    <div class="feed-item-content light-all bottom-align">
                      <div class="feed-item-content-copy">
                        <div class="headline">
                          SXSW Recap 2017
                          <div class="arrow icon-arrow-right"></div>
                        </div>
                        <div class="eyebrow">
                          Insight
                        </div>
                      </div>
                      <div class="feed-item-content-background">
                        <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/sxsw_feed.jpg)"></div>
                      </div>
                    </div>
                  </a>

                  <a href="/articles/ces-2017-technologies-fueling-transformation" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                    <div class="feed-item-content light-all top-align">
                      <div class="feed-item-content-copy">
                        <div class="headline">
                          Technologies Fueling Transformation
                          <div class="arrow icon-arrow-right"></div>
                        </div>
                        <div class="eyebrow">
                          CES 2017
                        </div>
                      </div>
                      <div class="feed-item-content-background">
                        <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/ces-feed.jpg)"></div>
                      </div>
                    </div>
                  </a>

                  <a href="/articles/2016/how-to-fight-ad-fraud" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                    <div class="feed-item-content light-all bottom-align">
                      <div class="feed-item-content-copy">
                        <div class="headline">
                          How to Fight Ad Fraud
                          <div class="arrow icon-arrow-right"></div>
                        </div>
                        <div class="eyebrow">
                          Active Marketing
                        </div>
                      </div>
                      <div class="feed-item-content-background">
                        <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/adfraud_feedimage.jpg)"></div>
                      </div>
                    </div>
                  </a>

                  <a href="/articles/2016/transformation-in-utilities" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                    <div class="feed-item-content light-all bottom-align">
                      <div class="feed-item-content-copy">
                        <div class="headline">
                          Transformation in Utilities
                          <div class="arrow icon-arrow-right"></div>
                        </div>
                        <div class="eyebrow">
                          Experience Innovation
                        </div>
                      </div>
                      <div class="feed-item-content-background">
                        <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/feedimagev2.jpg)"></div>
                      </div>
                    </div>
                  </a>

                  <a href="/articles/2016/qa-with-sapientrazorfish-b2b-expert-rob-howl" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                    <div class="feed-item-content light-all bottom-align">
                      <div class="feed-item-content-copy">
                        <div class="headline">
                          Q&amp;A with Razorfish B2B Expert Rob Howl
                          <div class="arrow icon-arrow-right"></div>
                        </div>
                        <div class="eyebrow">
                            Engagement Led Loyalty
                        </div>
                      </div>
                      <div class="feed-item-content-background">
                        <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/qarobhowl_feedimage.jpg)"></div>
                      </div>
                    </div>
                  </a>

                  <a href="/articles/2016/the-marketplace-revolution" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                    <div class="feed-item-content light-all top-align">
                      <div class="feed-item-content-copy">
                        <div class="headline">
                          The Marketplace (R)evolution
                          <div class="arrow icon-arrow-right"></div>
                        </div>
                        <div class="eyebrow">
                          quitous Commerce
                        </div>
                      </div>
                      <div class="feed-item-content-background">
                        <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/tl26_feedimage.jpg)"></div>
                      </div>
                    </div>
                  </a>

                  <a href="/articles/2016/the-future-of-targeted-search-advertising" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                    <div class="feed-item-content light-all bottom-align">
                      <div class="feed-item-content-copy">
                        <div class="headline">
                          The Future of Targeted Search Advertising
                          <div class="arrow icon-arrow-right"></div>
                        </div>
                        <div class="eyebrow">
                          Active Marketing
                        </div>
                      </div>
                      <div class="feed-item-content-background">
                        <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/feed_image.jpg)"></div>
                      </div>
                    </div>
                  </a>

                  <a href="/articles/2016/the-future-of-programmatic-tv" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                    <div class="feed-item-content light-all bottom-align">
                      <div class="feed-item-content-copy">
                        <div class="headline">
                          The Future of Programmatic TV
                          <div class="arrow icon-arrow-right"></div>
                        </div>
                        <div class="eyebrow">
                          Intelligent Platforms
                        </div>
                      </div>
                      <div class="feed-item-content-background">
                        <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/the-future-of-programmatic-tv-feed.jpg)"></div>
                      </div>
                    </div>
                  </a>

                  <a href="/articles/2016/cracking-the-creative-code" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                    <div class="feed-item-content light-all bottom-align">
                      <div class="feed-item-content-copy">
                        <div class="headline">
                          Cracking the Creative Code
                          <div class="arrow icon-arrow-right"></div>
                        </div>
                        <div class="eyebrow">
                          Experience Innovation
                        </div>
                      </div>
                      <div class="feed-item-content-background">
                        <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/cracking-the-creative-code-feed-image.jpg)">
                        </div>
                      </div>
                    </div>
                  </a>
              </div>
              <div class="feed-load-more-container ">
                  <button class="feed-load-more-btn ajax" aria-controls="feed-list-container">
                      Load More </button>
              </div>

          </div>
      </div>

      <div class="newsletter-signup-container">
          <section class="module newsletter-signup newsletter-signup-dark" data-visible="false" data-loadmodule="NewsletterSignupForm">
              <div class="module-background"></div>
              <div class="module-content">
                  <div class="newsletter-signup-content">
                      <header class="module-header">
                          <h2 class="headline">Stay current. Get our newsletter.</h2>
                      </header>
                      <form action="/services/prospect/newsletter/subscribe" class="form" method="post">
                          <div class="form-field">
                              <input type="email" id="email" name="email" data-request-key="email" value="" class="form-input" autocomplete="off" required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$" title="Enter a valid email address">
                              <label for="email" class="form-label" data-error="Enter a valid email address">Enter your email</label>
                          </div>
                          <div class="form-field">
                              <input type="text" id="firstname" name="firstname" data-request-key="firstName" value="" class="form-input" autocomplete="off" required maxlength="40">
                              <label for="firstname" class="form-label" data-error="Enter a valid First Name">First Name</label>
                          </div>
                          <div class="form-field">
                              <input type="text" id="lastname" name="lastname" data-request-key="lastName" value="" class="form-input" autocomplete="off" required maxlength="80">
                              <label for="lastname" class="form-label" data-error="Enter a valid Last Name">Last Name</label>
                          </div>
                          <div class="form-field">
                              <input type="text" id="company" name="company" data-request-key="company" value="" class="form-input" autocomplete="off" required maxlength="200">
                              <label for="company" class="form-label" data-error="Enter a valid Company Name">Company</label>
                          </div>

                          <!-- Hidden field -->
                          <input type="hidden" id="webCampaign" name="webCampaign" value="Razorfish Newsletter Sign Up" data-request-key="webCampaign">
                          <!-- / Hidden field -->

                          <div class="form-field form-field-submit">
                              <button type="submit" class="form-submit cta">
                                  <span class="label">Subscribe</span>
                                  <span class="spinner"></span>
                              </button>
                          </div>
                          <div class="form-field form-field-note">
                              <span class="form-note">* All fields required</span>
                          </div>
                          <div class="form-field form-field-error hidden">
                              <p class="form-error hidden general-error">We had a problem connecting to the server. Wait just a moment and try submitting again</p>
                              <p class="form-error hidden email-error">Enter a valid Email Address</p>
                          </div>
                      </form>
                  </div>
              </div>
          </section>
          <section class="module newsletter-signup-success newsletter-signup-dark hidden" data-loadmodule="NewsletterSignupFormSuccess" id="newsletter-signup-success">
              <div class="module-background"></div>
              <div class="module-content">
                  <header class="module-header">
                      <h2 class="headline">Congratulations!</h2>
                  </header
                  <p class="form-text">Your form has been submitted.</p>
              </div>
          </section>
      </div>
      <section class="module contact-promo" data-visible="false">
          <div class="module-background">
              <svg xmlns="http://www.w3.org/2000/svg" class="module-background-image">
                  <defs>
                      <filter id="image-grading--green">
                          <feColorMatrix type="matrix" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" result="gray"></feColorMatrix>
                          <feComponentTransfer color-interpolation-filters="sRGB">
                              <feFuncR type="table" tableValues="0.1411764705882353 0.25882352941176473"></feFuncR>
                              <feFuncG type="table" tableValues="0.1607843137254902 0.34509803921568627"></feFuncG>
                              <feFuncB type="table" tableValues="0.14901960784313725 0.3607843137254902"></feFuncB>
                              <feFuncA type="table" tableValues="1 1"></feFuncA>
                          </feComponentTransfer>
                      </filter>
                  </defs>
                  <image filter="url('#image-grading--green')" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="/binaries/content/gallery/corpsitehippo/other/global/location_module-footer1_notint.png"></image>
              </svg>
          </div>
          <div class="module-content">
              <div class="promo-content">
                  <h2 class="eyebrow">Locations</h2>
                  <div class="headline">34 Offices. 5 Continents.</div>
                  <div class="headline">1 Vision.</div>
                  <div class="subhead"><a href="/contact" class="link">Get in Touch.</a></div>
              </div>
          </div>
      </section>
    </main>
  </div>
<%= render :partial =>'shared/footer' %>
    

<script src="/assets/app.js"></script>
<script src="/assets/shared.js"></script>