<%= render :partial => 'shared/menu' %>
<div class="wrapper" data-loadmodule="PageTransitions">
    <main id="main-content" class="main-content" tabindex="-1">

        <section class="module solution-hero" data-visible="false">
            <div class="module-background"></div>
            <div class="module-content">
                <div class="hero-content">
                    <h1 class="headline isFirst">Transformation in the age of the customer.</h1>
                    <div class="subhead postmodern-divider isSecond">Everything we do is centered on the belief that, in a constantly changing market filled with the explosion of technology and data, customers have the power. A new way of doing business is now required. We call this customer obsessed business transformation and offer six solutions to get there.</div>
                </div>
            </div>
        </section>

        <section class="solution-sub-nav landing module" data-visible="false">
            <div class="module-background"></div>
            <div class="module-content">
                <div class="solution-sub-nav-content">
                    <ol class="sub-nav-container">
                        <li class="sub-nav-item" style="background-color: #d3cfc9;">
                            <a class="sub-nav-item-link" href="/solution/journey-driven-consulting">
                                <header class="sub-nav-item-header">
                                    <h2 class="sub-nav-item-headline">Journey-Driven Consulting</h2>
                                </header>
                                <ul class="summary-list">
                                    <li class="summary-item">Digital Transformation Strategy</li>
                                    <li class="summary-item">Customer Journey Consulting</li>
                                    <li class="summary-item">Structured Innovation</li>
                                    <li class="summary-item">Strategic Prioritization & Roadmapping</li>
                                </ul>
                            </a>
                        </li>
                        <li class="sub-nav-item" style="background-color: #82c2ce;">
                            <a class="sub-nav-item-link" href="/solution/active-marketing">
                                <header class="sub-nav-item-header">
                                    <h2 class="sub-nav-item-headline">Active Marketing</h2>
                                </header>
                                <ul class="summary-list">
                                    <li class="summary-item">Strategic Program Planning</li>
                                    <li class="summary-item">Creative Concepting & Design</li>
                                    <li class="summary-item">Social & Content Marketing</li>
                                    <li class="summary-item">Precision Marketing & Media</li>
                                </ul>
                            </a>
                        </li>
                        <li class="sub-nav-item" style="background-color: #ffc877;">
                            <a class="sub-nav-item-link" href="/solution/experience-innovation">
                                <header class="sub-nav-item-header">
                                    <h2 class="sub-nav-item-headline">Experience Innovation</h2>
                                </header>
                                <ul class="summary-list">
                                    <li class="summary-item">Customer Experience Strategy</li>
                                    <li class="summary-item">Experience Design</li>
                                    <li class="summary-item">Product Development</li>
                                    <li class="summary-item">Emerging Experiences&trade;</li>
                                </ul>
                            </a>
                        </li>
                        <li class="sub-nav-item" style="background-color: #4f4848;">
                            <a class="sub-nav-item-link" href="/solution/intelligent-platforms">
                                <header class="sub-nav-item-header">
                                    <h2 class="sub-nav-item-headline">Intelligent Platforms</h2>
                                </header>
                                <ul class="summary-list">
                                    <li class="summary-item">Platform Strategy & Assessment</li>
                                    <li class="summary-item">Platform Build & Implementation</li>
                                    <li class="summary-item">Cognitive & Predictive Analytics</li>
                                    <li class="summary-item">Cloud Services</li>
                                </ul>
                            </a>
                        </li>
                        <li class="sub-nav-item" style="background-color: #c6db81;">
                            <a class="sub-nav-item-link" href="/solution/engagement-based-loyalty">
                                <header class="sub-nav-item-header">
                                    <h2 class="sub-nav-item-headline">Engagement-&#8203;Based Loyalty</h2>
                                </header>
                                <ul class="summary-list">
                                    <li class="summary-item">CRM</li>
                                    <li class="summary-item">Segmentation</li>
                                    <li class="summary-item">Loyalty Programs</li>
                                    <li class="summary-item">Marketing Automation</li>
                                </ul>
                            </a>
                        </li>
                        <li class="sub-nav-item" style="background-color: #ff6263;">
                            <a class="sub-nav-item-link" href="/solution/ubiquitous-commerce">
                                <header class="sub-nav-item-header">
                                    <h2 class="sub-nav-item-headline">Ubiquitous Commerce</h2>
                                </header>
                                <ul class="summary-list">
                                    <li class="summary-item">Commerce Strategy</li>
                                    <li class="summary-item">Rapid Commerce</li>
                                    <li class="summary-item">Ecommerce & CMS Platforms</li>
                                    <li class="summary-item">Sales & Customer Care</li>
                                </ul>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="module solution-contact" data-visible="false">
            <div class="module-background"></div>
            <div class="module-content">
                <div class="solution-contact-content">
                    <h2 class="headline">Here for tomorrow.</h2>
                    <div class="subhead">Motivated and inspired by what's next, we help our clients navigate the unknown, drive change and transform business.</div>
                    <div class="solution-contact-cta-container">
                        <a class="solution-contact-cta cta" href="/contact">Put our expertise to work for you.</a>
                    </div>
                </div>
            </div>
        </section>

    </main>
</div>

<%= render :partial => 'shared/footer' %>    
<script src="/assets/app.js"></script>
<script src="/assets/shared.js"></script>