<%= render :partial => 'shared/menu' %>
<div class="wrapper" data-loadmodule="PageTransitions">
  <main id="main-content" class="main-content" tabindex="-1">
    <div class="module page-tagline" data-visible="false">
      <div class="module-background"></div>
      <div class="module-content">
        <header>
          <h1 class="headline">Our Work</h1>
        </header>
      </div>
    </div>

    <div class="module hero-story light-all has-image has-link" data-visible="false">
      <div class="module-background" style="background-image:url(/assets/spotify_singles_cover.jpg);">
      </div>

      <a href="/case-study/2016/spotify" class="featured-content-link dark-hover arrow-hover">
        <div class="dark-overlay"></div>
        <div class="module-content">
          <div class="hero-content">
            <h1 class="headline isSecond">Music Deﬁnes Us. Spotify Singles Proved It.</h1>
            <div class="eyebrow isFirst">Spotify</div>
            <div class="arrow arrow-right"></div>
          </div>
        </div>
      </a>
    </div>

    <div class="feed module landing-feed" data-loadmodule="Feed">
      <div class="module simple-header" data-visible>
        <div class="module-background"></div>
        <div class="module-content">
          <header>
            <h1 class="headline">Latest Work</h1>
          </header>
        </div>
      </div>

        <div class="module-content">
          <script type="application/json">
            { "endpoint": "/services/feed/list/case-study/industry/{industry}/pillar/{pillar}?index={index}&count=12", "eyebrows": { "case-study": "Case Study", "press-release": "Press Release", "in-the-news": "In the News", "insight": "Insight" } }
          </script>
          <div class="feed-list-container" id="feed-list-container" role="region" aria-live="assertive">
            <a href="/case-study/2016/bengal-warriors" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
              <div class="feed-item-content light-all bottom-align">
                <div class="feed-item-content-copy">
                  <div class="headline">
                    The Warriors' Chant
                    <div class="arrow icon-arrow-right"></div>
                  </div>
                  <div class="eyebrow">
                    Bengal Warriors
                  </div>
                </div>
                  <div class="feed-item-content-background">
                    <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/warriors_content_feed_image.jpg)"></div>
                  </div>
              </div>
            </a>

              <a href="/case-study/2016/audi-led-scoreboard" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                <div class="feed-item-content light-all bottom-align">
                  <div class="feed-item-content-copy">
                    <div class="headline">
                      LED Scoreboard
                      <div class="arrow icon-arrow-right"></div>
                    </div>
                    <div class="eyebrow">
                      Audi
                    </div>
                  </div>
                  <div class="feed-item-content-background">
                    <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/audiled-feed.jpg)"></div>
                  </div>
                </div>
              </a>

              <a href="/case-study/2016/audi-pit-crew-tutorials" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                <div class="feed-item-content light-all bottom-align">
                  <div class="feed-item-content-copy">
                    <div class="headline">
                      Pit Crew Tutorials
                      <div class="arrow icon-arrow-right"></div>
                    </div>
                    <div class="eyebrow">
                      Audi
                    </div>
                  </div>
                  <div class="feed-item-content-background">
                    <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/audi-pit-crew-feed-image.jpg)"></div>
                  </div>
                </div>
              </a>

              <a href="/case-study/2016/mcdonalds-mcsundae-melt" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                <div class="feed-item-content light-all bottom-align">
                  <div class="feed-item-content-copy">
                    <div class="headline">
                      McSundae Melt
                      <div class="arrow icon-arrow-right"></div>
                    </div>
                    <div class="eyebrow">
                      McDonald's
                    </div>
                  </div>
                  <div class="feed-item-content-background">
                    <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/mcmelt_feed_txt_bottom.jpg)"></div>
                  </div>
                </div>
              </a>

              <a href="/case-study/2016/audi-be-my-valenttine" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                <div class="feed-item-content light-all bottom-align">
                  <div class="feed-item-content-copy">
                    <div class="headline">
                      Be My ValenTTine
                      <div class="arrow icon-arrow-right"></div>
                    </div>
                    <div class="eyebrow">
                      Audi
                    </div>
                  </div>
                  <div class="feed-item-content-background">
                    <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/audi_valenttines_feed.jpg)"></div>
                  </div>
                </div>
              </a>

              <a href="/case-study/2016/razorshop" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                  <div class="feed-item-content light-green bottom-align">
                      <div class="feed-item-content-copy">
                          <div class="headline">
                              The Future of Retail Has Arrived
                              <div class="arrow icon-arrow-right"></div>
                          </div>
                          <div class="eyebrow">
                              Razorshop
                          </div>
                      </div>
                      <div class="feed-item-content-background">
                          <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/razorshop_feedimage.jpg)"></div>
                      </div>
                  </div>
              </a>

              <a href="/case-study/2016/my-burger" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                  <div class="feed-item-content light-all top-align">
                      <div class="feed-item-content-copy">
                          <div class="headline">
                              Make Your Own Burger
                              <div class="arrow icon-arrow-right"></div>
                          </div>
                          <div class="eyebrow">
                              McDonald's
                          </div>
                      </div>
                      <div class="feed-item-content-background">
                          <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/mcdonalds_build_your_own_feedimage.jpg)"></div>
                      </div>
                  </div>
              </a>

              <a href="/case-study/2016/audi-tt-brochure-hack" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                  <div class="feed-item-content light-all bottom-align">
                      <div class="feed-item-content-copy">
                          <div class="headline">
                              Audi TT Brochure Hack
                              <div class="arrow icon-arrow-right"></div>
                          </div>
                          <div class="eyebrow">
                              Audi
                          </div>
                      </div>
                      <div class="feed-item-content-background">
                          <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/auditt_feed.jpg)"></div>
                      </div>
                  </div>
              </a>

              <a href="/case-study/2016/smart-poop-tweet" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                  <div class="feed-item-content light-all bottom-align">
                      <div class="feed-item-content-copy">
                          <div class="headline">
                              The Poop Tweet
                              <div class="arrow icon-arrow-right"></div>
                          </div>
                          <div class="eyebrow">
                              Smart
                          </div>
                      </div>
                      <div class="feed-item-content-background">
                          <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/smart_poop_tweet_feed.jpg)"></div>
                      </div>
                  </div>
              </a>

              <a href="/case-study/2016/hong-kong" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                  <div class="feed-item-content light-all bottom-align">
                      <div class="feed-item-content-copy">
                          <div class="headline">
                              Discover a Different Hong Kong
                              <div class="arrow icon-arrow-right"></div>
                          </div>
                          <div class="eyebrow">
                              Hong Kong Tourism Board
                          </div>
                      </div>
                      <div class="feed-item-content-background">
                          <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/hktb_promoimage.jpg)"></div>
                      </div>
                  </div>
              </a>

              <a href="/case-study/2016/audi-city" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                  <div class="feed-item-content light-all bottom-align">
                      <div class="feed-item-content-copy">
                          <div class="headline">
                              A Revolution in Automotive Dealership
                              <div class="arrow icon-arrow-right"></div>
                          </div>
                          <div class="eyebrow">
                              Audi
                          </div>
                      </div>
                      <div class="feed-item-content-background">
                          <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/audicity_feed_b.jpg)"></div>
                      </div>
                  </div>
              </a>

              <a href="/case-study/2016/bridgestone" class="feed-item dark-hover arrow-hover has-image" tabindex="0" data-visible>
                  <div class="feed-item-content light-all bottom-align">
                      <div class="feed-item-content-copy">
                          <div class="headline">
                              The Best Aren’t Born. They’re Built.
                              <div class="arrow icon-arrow-right"></div>
                          </div>
                          <div class="eyebrow">
                              Bridgestone
                          </div>
                      </div>
                      <div class="feed-item-content-background">
                          <div class="feed-item-content-background-image bg-zoom" data-lazyload="background-image: url(/assets/bridgestone_content_feed.jpg)"></div>
                      </div>
                  </div>
              </a>

          </div>

          <div class="feed-load-more-container ">
              <button class="feed-load-more-btn ajax" aria-controls="feed-list-container">
                  Load More </button>
          </div>

        </div>
    </div>

    <div class="newsletter-signup-container">
        <section class="module newsletter-signup newsletter-signup-dark" data-visible="false" data-loadmodule="NewsletterSignupForm">
            <div class="module-background"></div>
            <div class="module-content">
                <div class="newsletter-signup-content">
                    <header class="module-header">
                        <h2 class="headline">Stay current. Get our newsletter.</h2>
                    </header>
                    <form action="/services/prospect/newsletter/subscribe" class="form" method="post">
                        <div class="form-field">
                            <input type="email" id="email" name="email" data-request-key="email" value="" class="form-input" autocomplete="off" required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$" title="Enter a valid email address">
                            <label for="email" class="form-label" data-error="Enter a valid email address">Enter your email</label>
                        </div>
                        <div class="form-field">
                            <input type="text" id="firstname" name="firstname" data-request-key="firstName" value="" class="form-input" autocomplete="off" required maxlength="40">
                            <label for="firstname" class="form-label" data-error="Enter a valid First Name">First Name</label>
                        </div>
                        <div class="form-field">
                            <input type="text" id="lastname" name="lastname" data-request-key="lastName" value="" class="form-input" autocomplete="off" required maxlength="80">
                            <label for="lastname" class="form-label" data-error="Enter a valid Last Name">Last Name</label>
                        </div>
                        <div class="form-field">
                            <input type="text" id="company" name="company" data-request-key="company" value="" class="form-input" autocomplete="off" required maxlength="200">
                            <label for="company" class="form-label" data-error="Enter a valid Company Name">Company</label>
                        </div>

                        <!-- Hidden field -->
                        <input type="hidden" id="webCampaign" name="webCampaign" value="Razorfish Newsletter Sign Up" data-request-key="webCampaign">
                        <!-- / Hidden field -->

                        <div class="form-field form-field-submit">
                            <button type="submit" class="form-submit cta">
                                <span class="label">Subscribe</span>
                                <span class="spinner"></span>
                            </button>
                        </div>
                        <div class="form-field form-field-note">
                            <span class="form-note">* All fields required</span>
                        </div>
                        <div class="form-field form-field-error hidden">
                            <p class="form-error hidden general-error">We had a problem connecting to the server. Wait just a moment and try submitting again</p>
                            <p class="form-error hidden email-error">Enter a valid Email Address</p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="module newsletter-signup-success newsletter-signup-dark hidden" data-loadmodule="NewsletterSignupFormSuccess" id="newsletter-signup-success">
            <div class="module-background"></div>
            <div class="module-content">
                <header class="module-header">
                    <h2 class="headline">Congratulations!</h2>
                </header>
                <p class="form-text">Your form has been submitted.</p>
            </div>
        </section>
    </div>

    <section class="module contact-promo" data-visible="false">
        <div class="module-background">
            <svg xmlns="http://www.w3.org/2000/svg" class="module-background-image">
                <defs>
                    <filter id="image-grading--green">
                        <feColorMatrix type="matrix" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" result="gray"></feColorMatrix>
                        <feComponentTransfer color-interpolation-filters="sRGB">
                            <feFuncR type="table" tableValues="0.1411764705882353 0.25882352941176473"></feFuncR>
                            <feFuncG type="table" tableValues="0.1607843137254902 0.34509803921568627"></feFuncG>
                            <feFuncB type="table" tableValues="0.14901960784313725 0.3607843137254902"></feFuncB>
                            <feFuncA type="table" tableValues="1 1"></feFuncA>
                        </feComponentTransfer>
                    </filter>
                </defs>
                <image filter="url('#image-grading--green')" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="/binaries/content/gallery/corpsitehippo/other/global/location_module-footer1_notint.png"></image>
            </svg>
        </div>
        <div class="module-content">
            <div class="promo-content">
                <h2 class="eyebrow">Locations</h2>
                <div class="headline">34 Offices. 5 Continents.</div>
                <div class="headline">1 Vision.</div>
                <div class="subhead"><a href="/contact" class="link">Get in Touch.</a></div>
            </div>
        </div>
    </section>
  </main>
</div>
<%= render :partial => 'shared/footer' %>

<script src="/assets/app.js"></script>
<script src="/assets/shared.js"></script>