<!DOCTYPE html>
<html>
  <head>
    <title>IbzSolutions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"/>
  </head>

  <body>
    <a href="index.html#main-content" class="visually-hidden">Skip to Content</a>
    <header class="masthead visually-hidden" role="banner" data-loadmodule="Header">
      <div class="masthead-left">
        <a href="index.html">
          <h1 class="logo">
            <span class="logo-text">Razorfish</span>
              <svg class="logo-image" viewBox="0 0 146 26" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <g id="site-logo">
                  <path d="M27.018,17.825 C27.008,19.777 26.068,21.186 24.591,22.233 C23.122,23.26 21.119,23.793 19.308,23.789 C17.858,23.793 16.291,23.608 15.211,23.067 C14.669,22.797 14.255,22.46 13.974,22.04 C13.694,21.618 13.519,21.101 13.515,20.356 C13.519,19.709 13.673,19.232 13.931,18.826 C14.315,18.224 14.996,17.751 15.872,17.443 C16.738,17.133 17.772,16.992 18.743,16.992 L18.752,16.992 L27.027,16.992 C27.027,17.229 27.018,17.781 27.018,17.825 L27.018,17.825 Z M19.213,8.458 C18.109,8.458 17.07,8.544 16.239,8.646 L16.239,10.426 C17.048,10.334 18.113,10.252 19.417,10.252 C23.863,10.267 26.655,11.505 26.992,15.197 L18.752,15.197 C17.242,15.202 15.588,15.419 14.203,16.193 C13.512,16.581 12.887,17.108 12.435,17.814 C11.981,18.516 11.72,19.383 11.722,20.356 C11.72,21.416 12,22.351 12.499,23.086 C13.251,24.197 14.405,24.822 15.604,25.18 C16.815,25.535 18.113,25.642 19.308,25.642 C21.456,25.64 23.755,25.028 25.597,23.754 C26.146,23.377 26.623,22.928 27.027,22.42 L27.027,25.414 L28.828,25.414 L28.828,15.798 C28.821,9.973 24.724,8.466 19.213,8.458 L19.213,8.458 Z M87.037,7.34 L87.037,25.414 L88.838,25.414 L88.838,10.466 L95.361,10.466 L95.361,8.669 L88.838,8.669 L88.838,7.522 C88.838,3.219 91.702,1.86 96.447,1.845 C97.367,1.845 98.169,1.886 98.842,1.942 L98.842,0.107 C98.178,0.044 97.432,0 96.651,0 C91.14,0.009 87.044,1.518 87.037,7.34 L87.037,7.34 Z M71.681,15.776 L71.681,25.412 L73.483,25.412 L73.483,15.958 C73.483,11.658 76.347,10.3 81.092,10.283 C82.015,10.283 82.814,10.324 83.489,10.382 L83.489,8.544 C82.823,8.48 82.077,8.438 81.296,8.438 C75.788,8.445 71.69,9.956 71.681,15.776 L71.681,15.776 Z M11.805,8.544 C11.141,8.48 10.395,8.438 9.614,8.438 C4.106,8.445 0.007,9.956 0,15.776 L0,25.412 L1.8,25.412 L1.8,15.958 C1.8,11.658 4.665,10.3 9.411,10.283 C10.331,10.283 11.131,10.324 11.805,10.382 L11.805,8.544 Z M130.887,8.464 C128.728,8.567 126.879,9.608 126.632,9.752 L126.632,0.229 L124.836,0.229 L124.836,25.414 L126.632,25.414 L126.632,11.718 C126.847,11.546 128.335,10.454 131.234,10.329 C133.961,10.213 137.373,11.486 137.373,15.702 L137.373,25.414 L139.176,25.414 L139.176,15.777 C139.176,10.334 135.147,8.265 130.887,8.464 L130.887,8.464 Z M59.399,23.789 C55.176,23.774 52.093,21.515 52.086,17.047 C52.093,12.566 55.176,10.269 59.399,10.252 C63.618,10.269 66.704,12.566 66.71,17.047 C66.704,21.515 63.618,23.774 59.399,23.789 L59.399,23.789 Z M59.399,8.438 C54.216,8.45 50.268,11.394 50.257,17.047 C50.268,22.686 54.216,25.635 59.399,25.644 C64.583,25.635 68.532,22.686 68.541,17.047 C68.532,11.394 64.583,8.45 59.399,8.438 L59.399,8.438 Z M48.544,10.334 L48.544,8.671 L31.777,8.671 L31.777,10.465 L46.04,10.465 L31.99,23.754 L31.99,25.412 L48.93,25.412 L48.93,23.621 L34.506,23.621 L48.544,10.334 Z M99.577,25.414 L101.375,25.414 L101.375,8.671 L99.577,8.671 L99.577,25.414 Z M112.918,15.73 C110.045,15.401 107.214,15.445 107.26,13.442 C107.269,11.266 109.525,10.258 112.786,10.25 C117.264,10.258 119.09,11.932 119.829,12.615 L121.085,11.286 C119.585,9.778 116.926,8.438 112.733,8.438 C108.711,8.445 105.473,10.097 105.462,13.482 C105.49,17.013 109.146,17.271 112.831,17.631 C116.279,17.946 119.69,18.312 119.644,20.626 C119.644,22.733 116.686,23.784 113.589,23.786 C109.003,23.782 107.523,22.228 106.393,21.194 L104.958,22.399 C106.303,23.83 108.829,25.644 113.554,25.644 C118.9,25.642 121.438,23.163 121.443,20.626 C121.42,16.66 117.393,16.263 112.918,15.73 L112.918,15.73 Z M145.202,23.585 L144.499,25.141 L143.803,23.585 L143.424,23.585 L143.424,25.412 L143.665,25.412 L143.665,23.855 L144.377,25.412 L144.622,25.412 L145.331,23.855 L145.331,25.412 L145.564,25.412 L145.564,23.585 L145.202,23.585 Z M141.316,23.802 L142.04,23.802 L142.04,25.412 L142.292,25.412 L142.292,23.802 L143.024,23.802 L143.024,23.585 L141.316,23.585 L141.316,23.802 Z">
                </path>
              </g>
            </svg>
          </h1>
        </a>
      </div>
      <div class="masthead-right">
        <button type="button" class="navTrigger" aria-controls="site-navigation" aria-expanded="false">
          <span class="navTrigger-outer">
            <span class="navTrigger-inner"></span>
          </span>
          <span class="navTrigger-instructions">Toggle Navigation </span>
        </button>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
